body{

	background-color: #F0F0F0;
	text-align: center;
	margin-top: 5%;
}

#registration_form{
	background-color: #FFFFFF;
	display: inline-block;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px;
	padding-bottom: 50px;
	border-radius: 45px;
	
}

#userMsg,#emailMsg,#paserror,#repaserror{
	position: fixed;
}

#form_title{
	color: #4e2977;
	text-align: left;
	text-align: center;
}

#fname_field,#lname_field,#username_field,#email_field,#password_field,#repassword_field{
	background-color: #D0D0D0;
	padding-right: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	border-radius: 45px;
}

#fname,#lname,#username,#email,#password,#repassword{
	border-style:none;
	background-color: #D0D0D0;
	color: #000000;
}

#login_link{
	color:#03A9F4;
	text-decoration: none;
}
#login_link:hover{
	color:#4CAF50;
	text-decoration: none;
}
#home_link{
	color: #4CAF50;
	text-decoration: none;
}
#home_link:hover{
	color: #03A9F4;
	text-decoration: none;
}
#regi_btn_div{
	text-align:center;
	margin-left: 4px;
}

#submitButton{
	color:#ffffff;
	background-color:#ff1744;
	font-weight:bold;
	border-style:none;
	padding-right: 92px;
	padding-left: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 45px;
	
}
#submitButton:hover{
	color:Green;
	font-weight:bold;
	border-style:none;
	padding-right: 92px;
	padding-left: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 45px;
	
}